.series {
  padding: 10px 20px;
  width: 100%;

  &:hover {
    background-color: $menuItemHoverColor;
  }
}

.title {
  margin-right: 5px;
}

.year {
  margin-left: 5px;
  color: $disabledColor;
}

.existing {
  margin-left: 5px;
}
