.footer {
  composes: modalFooter from 'Components/Modal/ModalFooter.css';

  justify-content: space-between;
}

.rightButtons {
  margin-right: auto;
}

.importMode {
  composes: select from 'Components/Form/SelectInput.css';

  width: auto;
}

.errorMessage {
  color: $dangerColor;
}
